.navHeader {
  display: grid;
  grid-template-areas: "nav-left nav-center nav-right";
  grid-template-columns: 162px minmax(340px, 588px) minmax(350px, 390px);
  grid-template-rows: 40px;
  grid-column-gap: 20px;
  justify-content: center;
  padding: 8px 10px 12px 10px;
  grid-row-gap: 12px;
  background-color: #ffe600;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
}
.navLeftArea {
  grid-area: nav-left;
}
.logoImagen {
  position: relative;
  width: 150px;
  object-fit: cover;
}
.navCenterArea {
  grid-area: nav-center;
}
.navRightArea {
  grid-area: nav-right;
}
