.navHeader {
  display: grid;
  grid-template-areas: "nav-left nav-center nav-right";
  grid-template-columns: 162px minmax(340px, 588px) minmax(350px, 390px);
  grid-template-rows: 40px;
  grid-column-gap: 20px;
  justify-content: center;
  padding: 20px 10px 20px 10px;
  grid-row-gap: 12px;
  background-color: #ffe600;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
}
.navLeftArea {
  grid-area: nav-left;
}
.logoImagen {
  position: relative;
  width: 150px;
  object-fit: cover;
}
.navCenterArea {
  grid-area: nav-center;
}
.navRightArea {
  grid-area: nav-right;
}


.searchIcon {
    width: 16px;
    height: 16px;
}

/*  */
.search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    background-color: white;
    border: 1px solid black;
}

.buttonSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    color: #666;
    border-radius: 4px;
}



.inputSearch {
    width: 500px;
    padding: 0 0 0 15px;
    border: none;
    outline: none;
    font-size: 14px;
}

.search:hover {
    border-color: #6200ee;
    box-shadow: 0 0 0 1px rgba(98, 0, 238, 0.2);
}