.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-top: 0;
  
}
.filterPrice {
  display: flex;
  flex-direction: column;
}
.filerCategory {
  color: green;
}
