.appContainer {
  padding: 0;
  margin:0 ;
  width: 100%;
  height: 100%;
background-color: #ebebeb   ;
display: grid;
grid-template-columns: 10% 90%;
grid-template-rows: repeat(3,fr1) ;
gap: 0;
grid-template-areas:
    "header header"
    "sideNav mainContent"
    "footer footer";
}

body {
  margin: 0;
  padding: 0;
  background-color: #ebebeb ;
}

.header{
  grid-area: header;
}
.mainContent{
  grid-area: mainContent;
}
.sideNav{
  grid-area: sideNav;
}
.footer{
  grid-area: footer;
}

